@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 55px;
    background-color: white;
    font-family: 'Lexend', sans-serif;
    filter: invert(0%);
    animation-name: filterAnimation;
    animation-duration: 2s;
}
a:link{
    text-decoration: none;
}
@keyframes filterAnimation {
    from{filter: invert(100%); background-color: black;}
    to{filter: invert(0%);}
}

/*NAV BAR*/
/*NAV BAR*/
/*NAV BAR*/

nav{
}
h2{
    font-weight: 400;
}
#links{
    text-align: end;
}
.link{
    text-decoration: none;
    color: black;
    transition: 200ms;
    display: inline-block;
    position: relative;
    font-size: 1.15em;
}
.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.link:not(:last-child){
    margin-right: 20px;
}

/*RECTANGLES*/
/*RECTANGLES*/
/*RECTANGLES*/

.rectangle{
    border: 7px black solid;
    height: 25px;
    width: 100%;
}
.rectangle:not(:last-child){
    margin-bottom: 1%;
}
#rectangles{
    margin-top: 5%;
}

/*MAIN BLOCK*/
/*MAIN BLOCK*/
/*MAIN BLOCK*/

#mainBlock{
    display: inline-flex;
    gap: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}
#mainBlockL{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#mainBlockR{
    width: 50%;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}
#mainTitle{
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
}
#nextMainTitle{
    color: #ababab;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.15em;
}
#sideTitle{
    font-weight: 200;
    font-size: 1.15em;
    font-family: 'Space Grotesk', sans-serif;
    color: #ababab;
    letter-spacing: 1px;
    text-space: 20px;
}
.scrollText{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: textanimation 1.25s infinite;
}
@keyframes textanimation {
    from{color: black;}
    to{color: white;}
}
.mainLinks{
    text-decoration: underline;
    color: #7a7a7a;
    transition: 200ms;
}
.mainLinks:hover{
    text-decoration: line-through;
    color: #232323;
}
#textPicture{
    gap: 55px;
}
#profile{
    width: 150px;
    height: 150px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*.logoJob{
    width: 25%;
    margin-right: 50px;
}
#jobTitle{
    color: #1B1B1B;
    font-weight: 400;
}
#jobs{
    margin-top: 10%;
}
#yacby{
    filter: invert(100%);
    width: 15%;
}*/

/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/

.portfolioLine{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 50px;
}
.blocks{
    width: 100%;
    transition: 200ms;
    display: grid;
    grid-template-rows: min-content 50px 1fr;
}
.blocks a{
    text-decoration: none;
}
.blocks:hover{
    text-decoration: underline;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}
.titlePortfolio{
    color: black;
}
.projectPortfolio{
    color: black;
}
.subtitlePortfolio{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    color: #ababab;
}
.datePortfolio{
    font-family: 'Space Grotesk', sans-serif;
    color: #ababab;
}
.portImage{
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*FOOTER*/
/*FOOTER*/
/*FOOTER*/

footer{
    padding: 2%;
    text-align: center;
    margin-top: 50px;
}

/*SMALL SCREENS*/
/*SMALL SCREENS*/
/*SMALL SCREENS*/

@media (max-width: 1024px){
    body{
        margin: 65px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: end;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }
    #textPicture{
        gap: 55px;
    }
    #profile{
        width: 150px;
        height: 150px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
    }
    #mainBlockL{
        width: 50%;
    }
    #mainBlockR{
        width: 50%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
    }
    #nextMainTitle{
        color: #ababab;
        font-size: 1.1em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1.1em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }
    #textPicture{
        gap: 35px;
    }
    #profile{
        width: 125px;
        height: 125px;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/
    .titlePortfolio{
        font-size: 1.5em;
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
    }
    .subtitlePortfolio{
        font-size: 1em;
        text-align: justify;
        color: #ababab;
    }
    .datePortfolio{
        color: #ababab;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 50px;
    }
}

/*IPAD SCREENS*/
/*IPAD SCREENS*/
/*IPAD SCREENS*/

@media (max-width: 768px){
    body{
        margin: 65px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1.25em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
        font-size: 2.25em;
    }
    #nextMainTitle{
        color: #ababab;
        font-size: 1.25em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1.25em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }
    #textPicture{
        gap: 65px;
        margin-top: auto;
        margin-bottom: auto;
    }
    #profile{
        width: 150px;
        height: 150px;
    }
    #textB1{
        margin-top: auto;
        margin-bottom: auto;
    }
    #textPicture{
        gap: 35px;
    }
    #profile{
        width: 125px;
        height: 125px;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/
    .portfolioLine{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 50px;
    }
    .blocks{
        width: 100%;
        transition: 200ms;
        display: grid;
        grid-template-rows: min-content 100px;
    }
    .titlePortfolio{
        font-size: 2em;
    }
    .subtitlePortfolio{
        font-size: 1.25em;
        text-align: justify;
        color: #ababab;
    }
    .projectPortfolio{
        font-size: 1.25em;
    }
    .datePortfolio{
        color: #ababab;
        font-size: 1.25em;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 1.15em;
        letter-spacing: 1px;
    }
}

/*MOBILE SCREENS*/
/*MOBILE SCREENS*/
/*MOBILE SCREENS*/

@media (max-width: 480px){
    body{
        margin: 35px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
        font-size: 1.75em;
    }
    #nextMainTitle{
        color: #ababab;
        font-size: 1em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }
    #textPicture{
        gap: 35px;
    }
    #profile{
        width: 125px;
        height: 125px;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/

    .portfolioLine{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 50px;
    }
    .blocks{
        width: 100%;
        transition: 200ms;
        display: grid;
        grid-template-rows: min-content 75px;
    }
    .titlePortfolio{
        font-size: 1.5em;
    }
    .subtitlePortfolio{
        font-size: 1em;
        text-align: justify;
        color: #ababab;
    }
    .projectPortfolio{
        font-size: 1em;
    }
    .datePortfolio{
        color: #ababab;
        font-size: 1em;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}
@media (max-width: 310px){
    .blocks{
        width: 100%;
        transition: 200ms;
        display: grid;
        grid-template-rows: min-content 100px;
    }
}