@import url("https://use.typekit.net/icq8nho.css");
body{
    margin: 55px;
    background-color: white;
    font-family: stratos, sans-serif;
    filter: invert(0%);
    animation-name: filterAnimation;
    animation-duration: 2s;
}
@keyframes filterAnimation {
    from{filter: invert(100%); background-color: black;}
    to{filter: invert(0%);}
}

/*NAV BAR*/
/*NAV BAR*/
/*NAV BAR*/

nav{
}
h2{
    font-weight: 400;
}
#links{
    text-align: end;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 1.15em;
    transition: 200ms;
}
.link:hover{
    color: #ababab;
    text-decoration: line-through;
}
.link:not(:last-child){
    margin-right: 20px;
}

/*RECTANGLES*/
/*RECTANGLES*/
/*RECTANGLES*/

.rectangle{
    border: 7px black solid;
    height: 25px;
    width: 100%;
}
.rectangle:not(:last-child){
    margin-bottom: 1%;
}
#rectangles{
    margin-top: 5%;
}

/*MAIN BLOCK*/
/*MAIN BLOCK*/
/*MAIN BLOCK*/

#mainBlock{
    display: inline-flex;
    gap: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}
#mainBlockL{
    width: 50%;
}
#mainBlockR{
    width: 50%;
    text-align: justify;
}
#mainTitle{
    font-weight: 100;
}
#nextMainTitle{
    color: #ababab;
    font-family: "Space Mono", monospace;
    font-size: 1.15em;
}
#sideTitle{
    font-weight: 200;
    font-size: 1.15em;
    font-family: "Space Mono", monospace;
    color: #ababab;
    letter-spacing: 1px;
    text-space: 20px;
}
.scrollText{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: textanimation 1.25s infinite;
}
@keyframes textanimation {
    from{color: black;}
    to{color: white;}
}
.mainLinks{
    text-decoration: underline;
    color: #7a7a7a;
    transition: 200ms;
}
.mainLinks:hover{
    text-decoration: line-through;
    color: #232323;
}

/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/

.portfolioLine{
    display: inline-flex;
    gap: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.blocks{
    width: 50%;
    transition: 200ms;
}
.blocks:hover{
    text-decoration: underline;
}
.titlePortfolio{

}
.subtitlePortfolio{
    font-family: "Space Mono", monospace;
    font-size: 1.1em;
    text-align: justify;
    color: #ababab;
}
.datePortfolio{
    font-family: "Space Mono", monospace;
    color: #ababab;
}
.portImage{
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*FOOTER*/
/*FOOTER*/
/*FOOTER*/

footer{
    padding: 2%;
    text-align: center;
    margin-top: 50px;
}

/*SMALL SCREENS*/
/*SMALL SCREENS*/
/*SMALL SCREENS*/

@media (max-width: 1024px){
    body{
        margin: 65px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: end;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
    }
    #mainBlockL{
        width: 50%;
    }
    #mainBlockR{
        width: 50%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 100;
    }
    #nextMainTitle{
        color: #ababab;
        font-family: "Space Mono", monospace;
        font-size: 1.1em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1.1em;
        font-family: "Space Mono", monospace;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/

    .portfolioLine{
        display: inline-flex;
        gap: 50px;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 97%;
    }
    .blocks{
        width: 50%;
        transition: 200ms;
    }
    .blocks:hover{
        text-decoration: underline;
    }
    .titlePortfolio{
        font-size: 1.5em;
    }
    .subtitlePortfolio{
        font-family: "Space Mono", monospace;
        font-size: 1em;
        text-align: justify;
        color: #ababab;
    }
    .datePortfolio{
        font-family: "Space Mono", monospace;
        color: #ababab;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 50px;
    }
}

/*IPAD SCREENS*/
/*IPAD SCREENS*/
/*IPAD SCREENS*/

@media (max-width: 768px){
    body{
        margin: 65px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1.25em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 100;
        font-size: 2.25em;
    }
    #nextMainTitle{
        color: #ababab;
        font-family: "Space Mono", monospace;
        font-size: 1.25em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1.25em;
        font-family: "Space Mono", monospace;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/

    .portfolioLine{
        display: block;
        gap: 50px;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 97%;
    }
    .blocks{
        width: 100%;
        transition: 200ms;
    }
    .blocks:not(:last-child){
    margin-bottom: 15%;
    }
    .blocks:hover{
        text-decoration: underline;
    }
    .titlePortfolio{
        font-size: 2em;
    }
    .subtitlePortfolio{
        font-family: "Space Mono", monospace;
        font-size: 1.25em;
        text-align: justify;
        color: #ababab;
    }
    .projectPortfolio{
        font-size: 1.25em;
    }
    .datePortfolio{
        font-family: "Space Mono", monospace;
        color: #ababab;
        font-size: 1.25em;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 1.15em;
        letter-spacing: 1px;
    }
}

/*MOBILE SCREENS*/
/*MOBILE SCREENS*/
/*MOBILE SCREENS*/

@media (max-width: 480px){
    body{
        margin: 55px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    #mainTitle{
        font-weight: 100;
        font-size: 1.75em;
    }
    #nextMainTitle{
        color: #ababab;
        font-family: "Space Mono", monospace;
        font-size: 1em;
    }
    #sideTitle{
        font-weight: 200;
        font-size: 1em;
        font-family: "Space Mono", monospace;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }

    /*PORTFOLIO*/
    /*PORTFOLIO*/
    /*PORTFOLIO*/

    .portfolioLine{
        display: block;
        gap: 50px;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 97%;
    }
    .blocks{
        width: 100%;
        transition: 200ms;
    }
    .blocks:not(:last-child){
        margin-bottom: 15%;
    }
    .blocks:hover{
        text-decoration: underline;
    }
    .titlePortfolio{
        font-size: 1.5em;
    }
    .subtitlePortfolio{
        font-family: "Space Mono", monospace;
        font-size: 1em;
        text-align: justify;
        color: #ababab;
    }
    .projectPortfolio{
        font-size: 1em;
    }
    .datePortfolio{
        font-family: "Space Mono", monospace;
        color: #ababab;
        font-size: 1em;
    }
    .portImage{
        width: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}