@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 55px;
    background-color: white;
    font-family: 'Lexend', sans-serif;

}
#logoK{
    width: 7%;
    filter: invert(100%);
    background: white;
}
#myDiv{
    opacity: 0;
    display: none;
    transition: 500ms;
}
#loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 500ms;
    filter: invert(100%);
}
.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
#logo{
    width: 100%;
}

/*NAV BAR*/
/*NAV BAR*/
/*NAV BAR*/

nav{
}
h2{
    font-weight: 400;
}
#links{
    text-align: end;
}
.link{
    text-decoration: none;
    color: black;
    transition: 200ms;
    display: inline-block;
    position: relative;
    font-size: 1.15em;
}
.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.link:not(:last-child){
    margin-right: 20px;
}
#homeLink{
    text-decoration: none;
    color: black;
    transition: 200ms;
    display: inline-block;
}

#homeLink:hover{
    color: #ababab;
    transition: 200ms;
}

/*RECTANGLES*/
/*RECTANGLES*/
/*RECTANGLES*/

.rectangle{
    border: 7px black solid;
    height: 25px;
    width: 100%;
}
.rectangle:not(:last-child){
    margin-bottom: 1%;
}
#rectangles{
    margin-top: 5%;
}

/*VIDEO*/
/*VIDEO*/
/*VIDEO*/

.video{
    background-color: #641581;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 500ms;
}
.video:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 500ms;
}
.image{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 500ms;
}
.image:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 500ms;
}
#showcase{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#showcaseImage{
    width: 25%;
    display: inline-flex;
}
.imageSC{
    width: 100%;
}
.videoPort{
    width: 100%;
}

/*MAIN BLOCK*/
/*MAIN BLOCK*/
/*MAIN BLOCK*/

#mainBlock{
    display: inline-flex;
    gap: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
#mainBlockL{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#mainBlockR{
    width: 50%;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}
.mainTitle{
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
}
.nextMainTitle{
    color: #ababab;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.15em;
}
.sideTitle{
    font-weight: 200;
    font-size: 1.15em;
    font-family: 'Space Grotesk', sans-serif;
    color: #ababab;
    letter-spacing: 1px;
    text-space: 20px;
}
.scrollText{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: textanimation 1.25s infinite;
}
@keyframes textanimation {
    from{color: black;}
    to{color: white;}
}
.mainLinks{
    text-decoration: underline;
    color: #7a7a7a;
    transition: 200ms;
}
.mainLinks:hover{
    text-decoration: line-through;
    color: #232323;
}


#preparationBlock{
    display: inline-flex;
    gap: 50px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#preparationBlockL{
    width: 50%;
}
#preparationBlockR{
    width: 50%;
    text-align: justify;
}

#designBlock{
    display: inline-flex;
    gap: 50px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#designBlockL{
    width: 50%;
}
#designBlockR{
    width: 50%;
    text-align: justify;
}

#finalBlock{
    display: inline-flex;
    gap: 50px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#finalBlockL{
    width: 50%;
}
#finalBlockR{
    width: 50%;
    text-align: justify;
}

.images{
    display: inline-flex;
}
.imagesBIG{
    width: 100%;
}
.logoSMALL{
    width: 50%;
    height: 50%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logoBIG{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#conclusionBlock{
    display: inline-flex;
    gap: 50px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#conclusionBlockL{
    width: 50%;
}
#conclusionBlockR{
    width: 50%;
    text-align: justify;
}
/*FOOTER*/
/*FOOTER*/
/*FOOTER*/

footer{
    padding: 2%;
    text-align: center;
    margin-top: 50px;
}

/*RATING*/
/*RATING*/
/*RATING*/

.rating{
    display: inline-flex;
    width: 100%;
    background-color: #080c12;
    gap: 50px;
    color: white;
    margin-top: 75px;
}
.mainBlockL{
    width: 25%;
    margin: 25px 50px 25px 50px;
}
.mainBlockR{
    width: 65%;
    margin: 25px 50px 25px 50px;
}
.name{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}
.position{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}
.ratingText{
    font-weight: 200;
    font-size: 1.15em;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1px;
    text-space: 20px;
}

/*SMALL SCREENS*/
/*SMALL SCREENS*/
/*SMALL SCREENS*/

@media (max-width: 1024px){
    body{
        margin: 65px
    }
    #logoK{
        width: 15%;
        filter: invert(100%);
        background: white;
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: end;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }
    #textPicture{
        gap: 55px;
    }
    #profile{
        width: 150px;
        height: 150px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*VIDEO*/
    /*VIDEO*/
    /*VIDEO*/

    #showcase{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    .videoPort{
        width: 100%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
    }
    #mainBlockL{
        width: 50%;
    }
    #mainBlockR{
        width: 50%;
        text-align: justify;
    }
    .mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
    }
    .nextMainTitle{
        color: #ababab;
        font-size: 1.1em;
    }
    .sideTitle{
        font-weight: 200;
        font-size: 1.1em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }

    #preparationBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
        font-weight: 300;
    }
    #preparationBlockL{
        width: 50%;
    }
    #preparationBlockR{
        width: 50%;
        text-align: justify;
    }

    #designBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
        font-weight: 300;
    }
    #designBlockL{
        width: 50%;
    }
    #designBlockR{
        width: 50%;
        text-align: justify;
    }

    #finalBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
        font-weight: 300;
    }
    #finalBlockL{
        width: 50%;
    }
    #finalBlockR{
        width: 50%;
        text-align: justify;
    }

    .images{
        display: block;
    }
    .logoSMALL{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #logo1{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #logo2{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    #conclusionBlock{
        display: inline-flex;
        gap: 50px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 97%;
    }
    #conclusionBlockL{
        width: 50%;
    }
    #conclusionBlockR{
        width: 50%;
        text-align: justify;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 50px;
    }

    /*RATING*/
    /*RATING*/
    /*RATING*/

    .rating{
        display: table;
        width: 100%;

    }
    .mainBlockL{
        width: 100%;
        margin: 50px;
    }
    .mainBlockR{
        width: 85%;
        margin: 50px;
    }
    .name{
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
    }
    .position{
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
    }
    .ratingText{
        font-weight: 200;
        font-size: 1.1em;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 1px;
        text-space: 20px;
    }
}

/*IPAD SCREENS*/
/*IPAD SCREENS*/
/*IPAD SCREENS*/

@media (max-width: 768px){
    body{
        margin: 65px
    }
    #logoK{
        width: 20%;
        filter: invert(100%);
        background: white;
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1.25em;
        transition: 200ms;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    /*VIDEO*/
    /*VIDEO*/
    /*VIDEO*/

    #showcase{
        width: 75%;
    }
    .videoPort{
        width: 100%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    .mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
        font-size: 2.25em;
    }
    .nextMainTitle{
        color: #ababab;
        font-size: 1.25em;
    }
    .sideTitle{
        font-weight: 200;
        font-size: 1.25em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }
    #textPicture{
        gap: 65px;
        margin-top: auto;
        margin-bottom: auto;
    }
    #profile{
        width: 150px;
        height: 150px;
    }
    #textB1{
        margin-top: auto;
        margin-bottom: auto;
    }
    #textPicture{
        gap: 35px;
    }
    #profile{
        width: 125px;
        height: 125px;
    }

    #preparationBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
        font-weight: 300;
    }
    #preparationBlockL{
        width: 100%;
    }
    #preparationBlockR{
        width: 100%;
        text-align: justify;
    }

    #designBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
        font-weight: 300;
    }
    #designBlockL{
        width: 100%;
    }
    #designBlockR{
        width: 100%;
        text-align: justify;
    }

    #finalBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
        font-weight: 300;
    }
    #finalBlockL{
        width: 100%;
    }
    #finalBlockR{
        width: 100%;
        text-align: justify;
    }

    .images{
        display: block;
    }
    #logo1{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #logo2{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    #conclusionBlock{
        display: block;
        gap: 50px;
        margin-top: 15%;
        margin-bottom: 15%;
        width: 97%;
        font-weight: 300;
    }
    #conclusionBlockL{
        width: 100%;
    }
    #conclusionBlockR{
        width: 100%;
        text-align: justify;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 1.15em;
        letter-spacing: 1px;
    }

    /*RATING*/
    /*RATING*/
    /*RATING*/

    .rating{
        display: table;
        width: 100%;

    }
    .mainBlockL{
        width: 100%;
        margin: 50px;
    }
    .mainBlockR{
        width: 80%;
        margin: 50px;
    }
    .name{
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
    }
    .position{
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
    }
    .ratingText{
        font-weight: 200;
        font-size: 1.1em;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 1px;
        text-space: 20px;
    }
}


@media (max-width: 620px) {
    /*RATING*/
    /*RATING*/
    /*RATING*/
    #logoK{
        width: 30%;
        filter: invert(100%);
        background: white;
    }
    .rating{
        display: table;
        width: 100%;

    }
    .mainBlockL{
        width: 80%;
        margin: 35px;
    }
    .mainBlockR{
        width: 75%;
        margin: 35px;
    }
    .name{
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
        font-size: 1.75em;
    }
    .position{
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1em;
    }
    .ratingText{
        font-weight: 200;
        font-size: 1em;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 1px;
        text-space: 20px;
    }
}
/*MOBILE SCREENS*/
/*MOBILE SCREENS*/
/*MOBILE SCREENS*/

@media (max-width: 480px){
    body{
        margin: 35px
    }
    /*NAV BAR*/
    /*NAV BAR*/
    /*NAV BAR*/

    nav{
        width: 97%;
    }
    h2{
        font-weight: 400;
    }
    #links{
        text-align: left;
    }
    .link{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 200ms;
        margin-bottom: 15px;
    }
    .link:hover{
        color: #ababab;
        text-decoration: line-through;
    }
    .link:not(:last-child){
        margin-right: 20px;
    }

    /*RECTANGLES*/
    /*RECTANGLES*/
    /*RECTANGLES*/

    .rectangle{
        border: 7px black solid;
        height: 25px;
        width: 100%;
    }
    .rectangle:not(:last-child){
        margin-bottom: 1%;
    }
    #rectangles{
        margin-top: 5%;
    }

    #showcase{
        width: 100%;
    }
    .videoPort{
        width: 100%;
    }

    /*MAIN BLOCK*/
    /*MAIN BLOCK*/
    /*MAIN BLOCK*/

    #mainBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
    }
    #mainBlockL{
        width: 100%;
        margin-bottom: 15%;
    }
    #mainBlockR{
        width: 100%;
        text-align: justify;
    }
    .mainTitle{
        font-weight: 400;
        font-family: 'Lexend', sans-serif;
        font-size: 1.75em;
    }
    .nextMainTitle{
        color: #ababab;
        font-size: 1em;
    }
    .sideTitle{
        font-weight: 200;
        font-size: 1em;
        color: #ababab;
        letter-spacing: 1px;
        text-space: 20px;
    }
    .scrollText{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: textanimation 1.25s infinite;
    }
    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    .mainLinks{
        text-decoration: underline;
        color: #7a7a7a;
        transition: 200ms;
    }
    .mainLinks:hover{
        text-decoration: line-through;
        color: #232323;
    }
    #textPicture{
        gap: 35px;
    }
    #profile{
        width: 125px;
        height: 125px;
    }

    #preparationBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
        font-weight: 300;
    }
    #preparationBlockL{
        width: 100%;
    }
    #preparationBlockR{
        width: 100%;
        text-align: justify;
    }

    #designBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
        font-weight: 300;
    }
    #designBlockL{
        width: 100%;
    }
    #designBlockR{
        width: 100%;
        text-align: justify;
    }

    #finalBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
        font-weight: 300;
    }
    #finalBlockL{
        width: 100%;
    }
    #finalBlockR{
        width: 100%;
        text-align: justify;
    }

    .images{
        display: block;
    }
    #logo1{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    #logo2{
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    #conclusionBlock{
        display: block;
        gap: 50px;
        margin-top: 35%;
        margin-bottom: 35%;
        width: 97%;
        font-weight: 300;
    }
    #conclusionBlockL{
        width: 100%;
    }
    #conclusionBlockR{
        width: 100%;
        text-align: justify;
    }

    /*FOOTER*/
    /*FOOTER*/
    /*FOOTER*/

    footer{
        padding: 2%;
        text-align: center;
        margin-top: 150px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }

    /*RATING*/
    /*RATING*/
    /*RATING*/

    .rating{
        display: table;
        width: 100%;

    }
    .mainBlockL{
        width: 80%;
        margin: 35px;
    }
    .mainBlockR{
        width: 75%;
        margin: 35px;
    }
    .name{
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
        font-size: 1.75em;
    }
    .position{
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        font-size: 1em;
    }
    .ratingText{
        font-weight: 200;
        font-size: 1em;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 1px;
        text-space: 20px;
    }
}

/*PORTFOLIO VIDEOS BG*/
.portImage{
    width: 100%;
}
#librity{
    background-color: #080c12;
}
#yumi{
    background-color: #080c12;
}
#tFestival{
    background-color: #8758FF;
}
#tFestival2{
    background-color: #F8F8F8;
}
/*#majales{
    background-color: #63157F;
}*/
#pknB{
    background-color: #42277F;
}
#pknB2{
    background-color: #F8F8F8;
}