@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Space Mono', monospace;
}
nav{
    display: table;
    margin-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
}
#linky{
    margin-top: 2%;
}
.linkyNav{
    margin: 1%;
    font-size: 1em;
    text-decoration: none;
    color: black;
}
#active{
    font-weight: 700;
}
#logo{
    width: 7%;
}
#menuBanner{
    padding-top: 15%;
    padding-bottom: 20%;
    padding-left: 3%;
    padding-right: 3%;
}
#headlineBanner{
    font-size: 3em;
}
#subtitle{
    font-size: 1.5em;
    color: #000000;
    font-weight: 400;
}
#logo{
    align-content: end;
    width: 6%;
}
#bannerContent {
    animation: textanimation 1.25s infinite;
}

@keyframes textanimation {
    from{color: black;}
    to{color: white;}
}
#about{
    background-color: black;
    color: white;
    padding: 3%;
    display: inline-flex;
    width: 94%;
    margin-top: 10%;
}
#aboutText{
    margin-left: 3%;
    display:table;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}
#aboutImg{
    display: inline-flex;
}
.meImg{
    width: 200px;
}
#company{
    padding: 3%;
    display: block;
    margin-top: 5%;
    margin-bottom: 8%;
}
#logos{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
#cd{
    width: 30%;
    transition: 200ms;
}
#yacby{
    width: 12%;
    margin-left: 50px;
    transition: 200ms;
}
#yacby:hover{
    width: 12%;
    margin-left: 50px;
    filter: invert(82%) sepia(2%) saturate(20%) hue-rotate(25deg) brightness(101%) contrast(96%);

}
#cd:hover{
    width: 30%;
    filter: invert(82%) sepia(2%) saturate(20%) hue-rotate(25deg) brightness(101%) contrast(96%);
}
.button{
    padding:20px;
    background-color: white;
    margin-top: 1%;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: black;
    border: 1px solid white;
    transition: 0.2s;
}
.button:hover{
    padding: 20px;
    background-color: black;
    margin-top: 1%;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: white;
    border: 1px solid white;
}
footer{
    background-color: black;
    color: white;
    padding: 3%;
    width: 94%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}
.aboutl{
    text-decoration: underline;
    color: white;
    font-weight: 700;
}
@media (max-width: 1200px) {
    /* Large screens */
}
@media (max-width: 1024px) {
    /* Small screens */
    body{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Space Mono', monospace;
    }
    nav{
        display: table;
        margin-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #linky{
        margin-top: 5%;
    }
    .linkyNav{
        margin: 1%;
        font-size: 1.3em;
        text-decoration: none;
        color: black;
    }
    #active{
        font-weight: 700;
    }
    #menuBanner{
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #headlineBanner{
        font-size: 3em;
    }
    #subtitle{
        font-size: 1.5em;
        color: #000000;
        font-weight: 400;
    }
    #logo{
        align-content: end;
        width: 12%;
    }
    #bannerContent {
        animation: textanimation 1.25s infinite;
    }

    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    #about{
        background-color: black;
        color: white;
        padding: 6%;
        display: block;
        width: 88%;
        margin-top: 10%;
    }
    #aboutText{
        margin-left: 3%;
        display:table;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1em;
        width: 95%;
    }
    #aboutImg{
        display: inline-flex;
    }
    .meImg{
        width: 50%;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #company{
        padding: 3%;
        display: block;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    #logos{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    #cd{
        width: 30%;
    }
    #yacby{
        width: 12%;
        margin-left: 50px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 3%;
        width: 94%;
        margin-top: 5%;
        text-align: center;
    }
}
@media (max-width: 768px) {
    /* iPad screens */
    body{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Space Mono', monospace;
    }
    nav{
        display: table;
        margin-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #linky{
        margin-top: 5%;
    }
    .linkyNav{
        margin: 1%;
        font-size: 1.3em;
        text-decoration: none;
        color: black;
    }
    #active{
        font-weight: 700;
    }
    #menuBanner{
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #headlineBanner{
        font-size: 3em;
    }
    #subtitle{
        font-size: 1.5em;
        color: #000000;
        font-weight: 400;
    }
    #logo{
        align-content: end;
        width: 12%;
    }
    #bannerContent {
        animation: textanimation 1.25s infinite;
    }

    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    #about{
        background-color: black;
        color: white;
        padding: 6%;
        display: block;
        width: 88%;
        margin-top: 10%;
    }
    #aboutText{
        margin-left: 3%;
        display:table;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.1em;
        width: 95%;
    }
    #aboutImg{
        display: inline-flex;
    }
    .meImg{
        width: 50%;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #company{
        padding: 3%;
        display: block;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    #logos{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    #cd{
        width: 30%;
    }
    #yacby{
        width: 12%;
        margin-left: 50px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 3%;
        width: 94%;
        margin-top: 5%;
        text-align: center;
    }
}
@media (max-width: 480px) {
    /* Mobile screens */
    body{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Space Mono', monospace;
    }
    nav{
        display: table;
        margin-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #linky{
        margin-top: 5%;
    }
    .linkyNav{
        margin: 1%;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
    #active{
        font-weight: 700;
    }
    #menuBanner{
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #headlineBanner{
        font-size: 2em;
    }
    #subtitle{
        font-size: 1.25em;
        color: #000000;
        font-weight: 400;
    }
    #logo{
        align-content: end;
        width: 12%;
    }
    #bannerContent {
        animation: textanimation 1.25s infinite;
    }

    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    #about{
        background-color: black;
        color: white;
        padding: 10%;
        display: block;
        width: 80%;
        margin-top: 10%;
    }
    #aboutText{
        margin-left: 3%;
        display:table;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1em;
    }
    #titleA{
        font-size: 0.9em;
    }
    #aboutImg{
        vertical-align: sub;
    }
    .meImg{
        width: 50%;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #company{
        padding: 3%;
        display: block;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    #logos{
        display: table;
        margin-top: 10%;

    }
    #cd{
        width: 50%;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    #yacby{
        width: 24%;
        margin-top: 7%;
        margin-left: 0;
        margin-bottom: 7%;
    }
    footer{
        background-color: black;
        color: white;
        padding: 10%;
        width: 80%;
        margin-top: 5%;
        text-align: center;
        font-size: 1em;
    }
}
@media (max-width: 360px) {
    /* Mobile screens */
    body{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Space Mono', monospace;
    }
    nav{
        display: table;
        margin-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #linky{
        margin-top: 5%;
    }
    .linkyNav{
        margin: 1%;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
    #active{
        font-weight: 700;
    }
    #menuBanner{
        padding-top: 15%;
        padding-bottom: 20%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #headlineBanner{
        font-size: 2em;
    }
    #subtitle{
        font-size: 1.25em;
        color: #000000;
        font-weight: 400;
    }
    #logo{
        align-content: end;
        width: 12%;
    }
    #bannerContent {
        animation: textanimation 1.25s infinite;
    }

    @keyframes textanimation {
        from{color: black;}
        to{color: white;}
    }
    #about{
        background-color: black;
        color: white;
        padding: 10%;
        display: block;
        width: 80%;
        margin-top: 10%;
    }
    #aboutText{
        margin-left: 3%;
        display:table;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1em;
    }
    #titleA{
        font-size: 0.7em;
    }
    #aboutImg{
        vertical-align: sub;
    }
    .meImg{
        width: 50%;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    #company{
        padding: 3%;
        display: block;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    #logos{
        display: table;
        margin-top: 10%;

    }
    #cd{
        width: 50%;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    #yacby{
        width: 24%;
        margin-top: 7%;
        margin-left: 0;
        margin-bottom: 7%;
    }
    footer{
        background-color: black;
        color: white;
        padding: 10%;
        width: 80%;
        margin-top: 5%;
        text-align: center;
        font-size: 1em;
    }
}

